<% if admin_signed_in? || current_user.name == "guestuser" %>
<div>
  <table>
  <% post_image.post_comments.each do |post_comment| %>
    <tr><%= post_comment.user.name %></tr>
    <tr><%= post_comment.created_at.strftime('%Y/%m/%d/%H:%M') %></tr>
    <tr><%= post_comment.comment %></tr>
    <tr>
    <% if post_comment.user == current_user || admin_signed_in? %>
      <%= link_to "削除", post_image_destroy_post_comments_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
    </tr>
  <% end %>
  </table>
</div>
<% elsif user_signed_in? %>
<div>
  <p>コメント件数：<%= post_image.post_comments.count %></p>
</div>
<div>
  <%= form_with model: [post_image, post_comment] do |f| %>
    <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
<div>
  <table>
  <% post_image.post_comments.each do |post_comment| %>
    <tr><%= post_comment.user.name %></tr>
    <tr><%= post_comment.created_at.strftime('%Y/%m/%d/%H:%M') %></tr>
    <tr><%= post_comment.comment %></tr>
    <tr>
    <% if post_comment.user == current_user || admin_signed_in? %>
      <%= link_to "削除", post_image_destroy_post_comments_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
</div>