<h2>マイページ</h2>
<div class="container">
  <div class="row">
    <div class="col-3">
      <p>ユーザー名<br><%= @customer.name %></p>
      <p>メールアドレス<br><%= @customer.email %></p>
      <p>退会するボタン作る</p>
      <%= link_to "編集", myedit_path, class: 'btn btn-md' %>
    </div>
    <div class="col-6">
      <h3>投稿一覧</h3>
      <% @post_images.each do |post_image| %>
      <div>
      <%= link_to post_image_path(post_image.id) do %>
      <!--get_imageはmodelsに定義-->
        <%= image_tag post_image.get_image(100,100) %>
      <% end %>
      <p><%= post_image.title %></p>
      </div>
      <% end %>
    </div>
    <div class="col-3">
      <h3>お気に入りリスト</h3>
    </div>
  </div>
</div>