<div class="container">
  <div class="ribbon">
    <h2>投稿一覧</h2>
  </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-11">
        <div class="d-flex flex-wrap">
          <% post_images.each do |post_image| %>
          <div class="photo-hover">
            <%= link_to post_image_path(post_image.id) do %>
              <%= image_tag post_image.get_image(250,250), class: "cat-photo" %><br>
            <% end %>
            <%= post_image.title %><br>
            #<%= post_image.genre.name %><br>
            <!--お気に入り機能-->
            <%= render "user/favorites/favorites", post_image: post_image %>
          </div>
          <% end %>
        </div>
        <%= paginate post_images %>
      </div>
    </div>
</div>