<div class="container">
  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', obj: @post_image %>
  <% if current_user.name == "guestuser" %>
  <!--@user.nameから上記に変更-->
    <p>投稿するには会員登録が必要です。</p>
    <p>ログアウトしてから会員登録をしてください。</p>
  <% else %>
  <h2>投稿フォーム</h2>
    <%= form_with model: @post_image do |f| %>
      <table>
        <tr>
          <td><%= f.label :image, "写真" %></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><%= f.label :title, "タイトル" %></td>
          <td><%= f.text_field :title, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :caption, "説明" %></td>
          <td><%= f.text_area :caption, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :genre_id, "ジャンル" %></td>
          <td><%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--猫種を選択してください--"}, {class: "form-control"}) %></td>
        </tr>
        <tr>
          <td><%= f.submit "投稿", class: 'btn btn-md' %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>