<div class="container">
  <h2>投稿フォーム</h2>
    <%= form_with model: @post_image do |f| %>
      <table>
        <tr>
          <td><%= f.label :image, "写真" %></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><%= f.label :title, "タイトル" %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :caption, "説明" %></td>
          <td><%= f.text_area :caption %></td>
        </tr>
        <tr>
          <td><%= f.submit "投稿", class: 'btn btn-md' %></td>
        </tr>
      </table>
    <% end %>
</div>