<div class="container">
  <h2><%= @post_image.title %></h2>
    <div class="row">
      <div class="col-8">
        <%= image_tag @post_image.get_image(800,800), class: "img-fluid" %>
      </div>
      <div class="col-4">
        <h5>説明<br><%= @post_image.caption %></h5>
        <!--ジャンル（猫の種類）-->
        <h6>＃<%= @post_image.genre.name %></h6>
        <% if admin_signed_in? %>
          <h6>投稿者:
            <%= link_to admin_user_path(@post_image.user) do %>
              <%= @post_image.user.name %>
            <% end %>
          </h6>
        <% else %>
          <h6>投稿者: <%= @post_image.user.name %></h6>
        <% end %>
        <!--投稿ユーザーが退会していたら表示-->
        <% if @post_image.user.is_deleted == true %>
          <h6>（退会済みのユーザーです）</h6>
        <% end %>

        <h6>投稿日: <%= @post_image.created_at.strftime('%Y/%m/%d') %></h6>
        <!--いいね機能-->
        <%= render 'user/favorites/favorites', post_image: @post_image %><br>
        <!--ログインしているのが投稿ユーザーもしくは管理者の場合は削除ボタン表示-->
        <% if @post_image.user == current_user || admin_signed_in? %>
          <%= link_to "投稿を削除する", destroy_post_image_path(@post_image), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        <% end %>

        <% if admin_signed_in? || current_user.name == "guestuser" %>

          <%= render 'user/post_comments/index', post_image: @post_image, post_comment: @post_comment %>
        <% elsif user_signed_in? %>
          <!--エラーメッセージ表示されるか非同期通信化後に確認-->
          <%= render 'layouts/error_messages', obj: @post_comment %>
          <div class="comment-form">
            <%= render 'user/post_comments/form', post_image: @post_image, post_comment: @post_comment %>
          </div>
          <div class="comment-area">
            <%= render 'user/post_comments/index', post_image: @post_image, post_comment: @post_comment %>
          </div>
        <% end %>

      </div>
    </div>
</div>