<div class="container">
<h2><%= @user.name %>さまの情報編集</h2>
<%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
  <table>
    <tr>
      <td class="pt-3"><%= f.label :ユーザー名 %></td>
      <td class="pt-3"><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="pt-3"><%= f.label :メールアドレス %></td>
      <td class="pt-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
    </tr>
    <tr>
      <td class="pt-3"><%= f.label :会員ステータス %></td>
      <td class="pt-3"><%= f.radio_button :is_deleted, false %> <%= f.label :is_deleted, "会員", value: true %>
          <%= f.radio_button :is_deleted, true %> <%= f.label :is_deleted, "退会", value: false %>
      </td>
    </tr>
    <tr>
      <td class="pt-4"><%= f.submit "変更内容を保存", class: 'btn btn-md' %></td>
    </tr>
  </table>
<% end %>
</div>