<div class="container">
  <div class="row">
    <h2>ユーザーリスト</h2>
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th class="col-1">ユーザーID</th>
            <th class="col-2">ユーザー名</th>
            <th class="col-3">メールアドレス</th>
            <th class="col-4">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to admin_user_path(user), class: "link" do %>
                  <%= user.name %>
                <% end %>
            </td>
            <td><%= user.email %></td>
            <% if user.is_deleted == false %>
            <td>会員（利用中）</td>
            <% else %>
            <td>退会（利用停止中）</td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    <div class="pagenate"><%= paginate @users %></div>
  </div>
</div>