<!DOCTYPE html>
<html>
  <head>
    <title>CatComm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
      <div class="log-in pe-3 pb-1" style="text-align: right;">
        <% if admin_signed_in? || user_signed_in? %>
          ログイン中
        <% end %>
      </div>
    </header>
    <main class="mt-3 mb-5">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>