<!DOCTYPE html>
<html>
  <head>
    <title>CatComm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--<body class="d-flex flex-column vh-100">-->
  <body>
    <div class="position">
    <header class="shadow-sm">
      <%= render 'layouts/header' %>
    </header>
    <main class="my-3">
    <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    </div>
  </body>
</html>